/* колір основного тексту #212121 */
/* другорядний колір тексту #757575 */
/* білий колір тексту #FFFFFF  */
/*синый колір тексту (акцент) #2196F3 */
/* колір фону навігації #FFFFFF */
/* колір фону секції герой #2F303A*/
/* колір фону чим ми займаємося #F5F5F5 */
/* колір фону наша команда #F5F4FA */
/* колір фону футера #2F303A*/


/* кастомні властивості(root), або CSS змінні.
В них можназберігати певні значення.
Додаються на початку документа
(для зручності зміни кольорів або іншого,
 шоб не змінювати це вручну) */

 /*  letter-spacing for main page
 nav-0.02em;
 hero-0.06em;
 main-0.03em;
 footer-0.03em;
 
 letter-spacing for portfolio
 nav-0.02em;
 main-0.03em;
 footer-0.03em;
 */

 /* Набір шрифтів 
 Robotto
 400
 500
 700
 900 */

 :root{
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #219ff3;
    --background-color: #ffffff;
    --footer-text-color:#2F303A;
 }
.body {
    background-color: #fff;
    color: var(--primary-text-color) ;
    font-family: roboto,sans-serif;
    letter-spacing: 0.02em;
}

.list{list-style: none;}

/* logo */

.logo{color: var(--primary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2; 
    letter-spacing: 0.03em;
    text-decoration: none;
}
.accent {
    color: var(--accent-color);
}
.accent-word {
    color: #ffffff;
}

/* site-nav */

.site-nav .link {
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color) ;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.list-link 
{color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-link:hover,
.list-link:focus {
    color: var(--accent-color);
}

/* main */

.hero-title {
    color: #212121;
    font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

/* Кнопка-герой */

.hero-button {
    background-color: var(--accent-color);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* button 
/* Кнопки фільтрів */

.button {
    background-color: var(--background-color) ;
    color: var(--primary-text-color);
    font-family: inherit;  
font-weight: 700;
font-size: 16px;
line-height: 1.9;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
}

/* стилізуємо секції,заголовки,абзаци
(section, title, section-title,text),
 через надання кожному елементу class */

.section-title {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.title {
    font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
 }

.text {
    color: var(--title-text-color);
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
 
/* Секція з адресами, футер */

.footer{
    background-color: var(--footer-text-color);

}

.adress .street {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--background-color);
    text-decoration: none;
    
}
.adress .contacts {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;

}